✅ Task 1: Load & Explore the Data

1: Load dataset using pd.read_csv()

2: Show first 10 rows

3: Check shape (rows, cols)

4: Print column names

5: Check data types (dtypes)

6: Summary statistics (describe())

7: Check missing values (isnull().sum())

✅ Task 2: Data Cleaning

1: Replace missing numeric values → mean/median

2: Replace missing categorical values → mode

3: Remove duplicate rows

4: Strip whitespace from text columns

5: Convert date column → datetime

6: Convert category columns → category type

7: Rename inconsistent column names

✅ Task 3: Filtering & Sorting

1: Filter rows where Unit price > 50

2: Filter rows where Payment == "Cash"

3: Quantity between 5 and 10

4: Female customers only

5: Sort by Total (descending)

6: Sort by Date (ascending)

7: Sort by Product line then Unit price

✅ Task 4: New Calculated Columns

1: Total = Quantity \* Unit price

2: VAT = Total \* 0.05

3: Grand_Total = Total + VAT

4: Category:

High (Total > 200)

Medium (100–200)

Low (<100)

✅ Task 5: Grouping & Aggregation

1: Total revenue per product line

2: Average unit price per product line

3: Total quantity sold per city

4: Avg Grand_Total per gender

5: Most used payment method

6: Top 3 product lines by revenue

✅ Task 6: Pivot Tables

1: Revenue by City × Product Line

2: Quantity by Gender × Product Line

3: Average Total by Payment method

4: Monthly sales count

5: Revenue trend by Day

✅ Task 7: Highest & Lowest

1: Row with highest Total

2: Row with lowest Total

3: Highest & lowest revenue product line

4: City with most orders

5: Day with highest revenue

In [128]:
import pandas as pd
import numpy as np

In [ ]:
# Task 1: Load & Explore the Data

# 1: Load dataset using pd.read_csv()
df = pd.read_csv("supermarket_sales.csv")
print(df)

# 2: Show first 10 rows

print(df.head(10))

# 3: Check shape 

print(df.shape)

# 4: Print column names

print(df.columns)

# 5: Check data types

print(df.dtypes)

# 6: Summary statistics 

print(df.describe())

# 7: Check missing values

print(df.isnull())

In [ ]:
# ✅ Task 2: Data Cleaning

# 1: Replace missing numeric values → mean/median

num_col = df.select_dtypes(include="number").columns
df[num_col] = df[num_col].fillna(df[num_col].mean())



# 2: Replace missing categorical values → mode


cat_col = df.select_dtypes(include="object").columns

df[cat_col] = df[cat_col].fillna(df[cat_col].mode().iloc[0])


# 3: Remove duplicate rows

df.drop_duplicates()

# 4: Strip whitespace from text columns

for  col in cat_col:
    df[col]=df[col].str.strip()

# 5: Convert date column → datetime

# Use to_datetime(column name in it ) use to convert date to datetime

df["Date"] = pd.to_datetime(df["Date"])

# 6: Convert category columns → category type

cat_col  = df.select_dtypes(include="object").columns

for col in cat_col:
    df[col] = df[col].astype("category")

In [ ]:
# ✅ Task 3: Filtering & Sorting

# 1: Filter rows where Unit price > 50

unitPrice=df[df["unitprice"]>50]

# 2: Filter rows where Payment == "Cash"

Payment=df[df["payment"]=="Cash"]

# 3: Quantity between 5 and 10

Quantity = df[(df["quantity"]>5)&(df["quantity"]<10)]

# 4: Female customers only

Female = df[df["customertype"]=="Female"]

# 5: Sort by Total (descending)

total = df.sort_values("Total",ascending=False)
# 6: Sort by Date (ascending)

date = df.sort_values("Date",ascending=True)

# 7: Sort by Product line then Unit price

sorted = df.sort_values(["productline","unitprice"],ascending=True)

In [ ]:
# ✅ Task 4: New Calculated Columns

# 1: Total = Quantity * Unit price

df["Total Cal"] = df["Quantity"].multiply(df["Unit Price"])


# 2: VAT = Total * 0.05

df["VAT"] = df["Total"]*.05

# 3: Grand_Total = Total + VAT

df["Grand Total"] = df["Total"]+df["VAT"]
print(df)
# 4: Category:
df["Category"] = pd.cut(
    df["Total"],
    bins=[0,100,200,99999],
    labels=["Low","Medium","High"]
)

# High (Total > 200)

# Medium (100–200)

# Low (<100)

In [ ]:
# ✅ Task 5: Grouping & Aggregation

# 1: Total revenue per product line
print(df)
total_rev = df.groupby("Product Line")["Payment"].sum()

# 2: Average unit price per product line

avg_price = df.groupby("Product Line")["Unit Price"].mean()

# 3: Total quantity sold per city

total_quan = df.groupby("City")["Quantity"].sum()

# 4: Avg Grand_Total per gender

avg_GT = df.groupby("Gender")["Grand_Total"].mean()

# 5: Most used payment method

most_payment_method = df["Payment"].value_counts()

# 6: Top 3 product lines by revenue

top3 = df.groupby("Payment")["Total"].sum().nlargest(3)

In [ ]:
# ✅ Task 6: Pivot Tables

# 1: Revenue by City × Product Line

rev_city_and_pro = df.pivot_table(values="Total",aggfunc="sum",index="City",columns="Product Line")

# 2: Quantity by Gender × Product Line

Quantity = df.pivot_table(values="Quantity",aggfunc="sum",index="Gender",columns="Product Line")

# 3: Average Total by Payment method

avg_Total = df.groupby("Payment")["Total"].mean()

# 4: Monthly sales count
df["Date"] =pd.to_datetime(df["Date"])

df["Month"] = df["Date"].dt.to_period("M")
m_s = df.groupby("Month")["Quantity"].sum()


# 5: Revenue trend by Day

df["Day"] = df["Date"].dt.to_period("D")

r_d = df.groupby("Day")["Total"].sum()

In [ ]:

# ✅ Task 7: Highest & Lowest

# 1: Row with highest Total

highest_total = df.nlargest(1,"Total Cal")
# 2: Row with lowest Total
lowest_total = df.nlargest(1,"Total Cal")
# 3: Highest & lowest revenue product line
rev = df.groupby("ProductLine",observed=False)["Total"].sum()
Highest_Rev=rev.max()
Lowest_rev=rev.min()
# 4: City with most orders
most_order = df.groupby("City",observed=False)["Quantity"].sum()
print(most_order.idxmax())
# 5: Day with highest revenue
df["Date"] = pd.to_datetime(df["Date"])
df["Day"] = df["Date"].dt.to_period("D")

Highest_Rev_Day = df.groupby("Day")["Total"].sum().idxmax()
print(Highest_Rev_Day)